include dash_pdf_plus/dash_pdf.min.js
include dash_pdf_plus/dash_pdf.min.js.map
include dash_pdf_plus/async-*.js
include dash_pdf_plus/async-*.js.map
include dash_pdf_plus/*-shared.js
include dash_pdf_plus/*-shared.js.map
include dash_pdf_plus/metadata.json
include dash_pdf_plus/package-info.json
include README.md
include LICENSE
include package.json
